
<head>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="/css/style2.css" />
        <title>INITAlgo</title>
        <link href="/bootstarp/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<!--  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"> -->
</head>

