<div class ="row">

	<div id="titre_principal" class ="col-xs-12">
		<div id="logo" class ="row">
		<img  class="col-xs-1" height="122" width="80" src="/images/lille_logo1.png" alt="Logo d'univérsité lille 1" />
			<div class="row">
				<h3 class ="col-xs-3" >Universit&egrave; Lille 1 <br/> Science Technologie</h3>
			</div>
		</div>         
	</div>
	
	<div id="exercice" class="col-xs-offset-6">
		<div id="banniere_description">
			Universit&egrave; Lille 1 Science Technologie
			<a href="http://www.fil.univ-lille1.fr/portail/index.php?dipl=MInfo&sem=ESERVICE&ue=ACCUEIL&label=Pr%C3%A9sentation" class="bouton_rouge">Acceder au Formation <img height="22" width="22" src="/images/flesh.png" alt="" /></a>
		</div>
	</div>    
	
	<nav class ="col-xs-push-1 col-xs-12" >
		<ul class="nav nav-pills" id="menu">
			<li class="active"><a href="/dashbord">Accueil</a></li>
			<li><a href="/dashbord/propos">A propos..</a></li>
			<li><a href="/logout">Deconexion</a></li>
			<li class="disabled"><a href="#">Contact</a></li>
		</ul>
	</nav>
	
</div>