<!DOCTYPE html>
<html>
    {{>common/head}}
    
    <body style="background: #eeeaea ;">
        <div id="bloc_page" class ="col-lg-12">
          

		  {{>common/navbar}}
            
            <br/><br/>
			
            <section class="row">
            	<h1 class ="col-lg-12"><img height="92" width="72" src="images/algo.png" alt="" class="ico_categorie" />Appretissage d'algorithme</h1>
                <center><b> Bonjour : <span style="color:red;">{{user}}</span></b><br/></center>
                <div class ="col-xs-12" id="ac" style="text-align: center;font-family:Comic Sans Ms;">
            		
                {{^screen}}
                <center><h3>Votre Niveaux : {{niveaux}}</h3></center>
                </div>
                
                {{#Suivant}}
                <center>{{message}}</center><br/>
                {{/Suivant}}
                <article style="font-size: 16px;text-align: justify;text-indent: 50px;color: #2F4F4F;font-family:Comic Sans Ms" class ="col-lg-10 col-lg-push-1">
                    <b> Vous possédez les Connaissances Suivant: <br/><br/> {{#connaissanceEtu}}<li>{{ordre}} : {{nom}}</li>{{/connaissanceEtu}} <br/></b>
                    
                </article>
                {{/screen}}
                
                {{#screen}}
                <center><h3>Votre Niveaux : {{screen.niveaux}}</h3></center>
                
                <article style="font-size: 16px;text-align: justify;text-indent: 50px;color: #2F4F4F;font-family:Comic Sans Ms" class ="col-lg-10 col-lg-push-1">
                    <br/><br/>
                    <b> Vous possédez les Connaissances Suivant: <br/><br/> {{#connaissanceEtu}}<li>{{ordre}} : {{nom}}</li>{{/connaissanceEtu}} <br/></b>
                    
                </article>
                
                
                <article style="font-size: 16px;text-align: justify;text-indent: 50px;color: #2F4F4F;font-family:Comic Sans Ms" class ="col-lg-10 col-lg-push-1">
                    <center>
                    <b>{{screen.Tete}}</b><br/>
                    <b>{{screen.leMot}}</b>
                    </center>
                </article>
                
                {{/screen}}
              
    
            </section><br/><br/><br/>
        <div class="row" id="sec">    
			
            
            <div class="col-lg-7 btn col-lg-offset-2">
            {{#screen}}
            <a href="/apprentisage" class="btn btn btn-block" style="background: #ffffff;margin-top: 10px;font-style: italic;font-family:Comic Sans Ms";>Cliquer ici pour Commancer l'apprentissage Niv : <span style="color:red;">{{niveaux2}}</span></a>
            {{/screen}}
            {{^screen}}
            {{^Suivant}}
            <a href="/apprentisage" class="btn btn btn-block" style="background: #ffffff;margin-top: 10px;font-style: italic;font-family:Comic Sans Ms";>Cliquer ici pour Commancer l'apprentissage Niv : <span style="color:red;">{{niveauxSuivant}}</span></a>
            {{/Suivant}}
            {{/screen}}
            </div>
           
         </div>   

			
            
		</div>	
			
            
        </div>
        {{>common/footer}}
    </body>
</html>

