<!DOCTYPE html>
<html>
	{{>common/head}}
<body style="background: #eeeaea ;">
	{{>common/navbar}}
	<br/><br/><br/>
	<div class="main-container">
            <div class="container" id="wrapper">
                <div class="well">
                    <h1>INITAlgorithme : Apprentissage d'Algorithme ?</h1><br/>
                    <p>L'application " INITAlgorithme "  est r&egrave;alis&egrave;e par deux &egrave;tudiants de l'Universit&egrave; de Lille 1,
                    Marouane Abakarim et Ahmed Idriss Mohamed dans le cadre de PFE du master E-Services, <br/> A pour but d'aider les &egrave;tudiants sur l'initiation d'algorithme.</p>
                </div>
            </div>
        </div>
        
</body>

	{{>common/footer}}
</html>