<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/style2.css" />
        <title>Apprentissage Algorithme</title>
        <link href="/bootstarp/css/bootstrap.css" rel="stylesheet">
        <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">-->

    </head>
    
    <body style="background: #eeeaea ;">
        <div id="bloc_page" class ="col-lg-12">
          

          {{>common/navbar}}
            
            
            <section class="row">
                <h1 class ="col-lg-12"><img height="92" width="72" src="images/algo.png" alt="" class="ico_categorie" />Appretissage d'algorithme</h1>
                <article style="font-size: 16px;text-align: justify;text-indent: 50px;color: #2F4F4F;font-family:Comic Sans Ms" class ="col-lg-10 col-lg-push-1">
                    
                    <b> Consultation des exercices !</b><br/>
                </article>
                
            </section>
        <div class="row" id="sec">    
            
            
            <div class="col-lg-10 col-lg-offset-1" style="color: black">
                <table style="background: #FFFFFF">
                    <tr>
                        <th id="number">N°</th>
                        <th id="exo">Exercice</th>
                        <th id="connaissance">Connaissance</th>
                        {{#consulter}}
                        <th id="btn">Modifier</th>
                        <th id="btn">Supprimer</th>
                        {{/consulter}}
                    </tr>
                    {{#exercices}}
                    <tr>
                        <td>{{id_ex}}</td>
                        <td>{{nomExercice}}</td>
                        <td>{{#connaissance}}<a href="/viewConnaissance/view/{{id_ExEtu}}/{{id_ex}}">{{nom}}</a><br/>{{/connaissance}}</td>
                        {{#consulter}}
                        <td><a href="/consulterExercice/update/{{id_ex}}" class="btn btn-success " id="ecriture">Modifier l'exercice</a></td>
                        <td><a href="/consulterExercice/delete/{{id_ex}}" class="btn btn-success " id="ecriture">Supprimer l'exercice</a></td>
                    	{{/consulter}}
                    </tr>
                    {{/exercices}}
                </table>
                {{^exercices}}<br/>
                	<div class="alert alert-danger" role="alert">aucun exercice n'existe</div>
                {{/exercices}}
            </div>
         </div>   

        <!-- <div >
            <a href="AjouterExercice.html" class="col-lg-offset-8 col-lg-3 btn btn-warning " id="ecriture">Ajouter un Exerice</a>
        </div> -->
            
        <div>   
        <footer class="row" style="margin-top: 200px;">
                <div id="information" class="col-lg-offset-1 col-lg-5">
                    <h3>Projet Apprentissage Algorithme</h3>
                    <p>ecrire sur le projet</p>
                    <p>la date de sotenus</p>
                </div>

                <div id="mes_amis" class="col-lg-3 col-lg-offset-2">
                    <h1>Contact</h1>
                    <div id="listes_amis">
                        <ul>
                            <li><a href="#">Mr Soulaimane</a></li>
                            <li><a href="#">Maouane Abakarim</a></li>
                            <li><a href="#">Amed Idrissi</a></li>
                        </ul>
                    </div>
                </div>
        </footer>
        </div>    
            
        </div>
    </body>
</html>

    