<!DOCTYPE html>
<html >
    {{>common/head}}
    
    <body style="background: #eeeaea ; no-repeat center center fixed;background-size: cover;">
        <div id="bloc_page" class ="col-lg-12">
          
         {{>common/navbar}}
          
            <section class="row">
                <h1 class ="col-lg-12"><img height="92" width="72" src="images/algo.png" alt="" class="ico_categorie" />Appretissage d'algorithme</h1>
                <article style="font-size: 16px;text-align: justify;text-indent: 50px;color: #2F4F4F;font-family:Comic Sans Ms" class ="row">
                    <center class ="col-xs-10"> Bonjour : <span style="color:red;">{{user}}</span></center><br/>
                   
                </article>
                
            </section>
        <div class="row" id="sec">    
            
            
            <div class="col-lg-9 btn col-lg-offset-1">
            <a href="AjouterExercice" class="btn btn btn-block" style="background: #ffffff;margin-top: 20px;font-style: italic;font-family:Comic Sans Ms";>Ajouter Un Exercice</a>
            <a href="consulterExercice" class="btn btn btn-block" style="background: #ffffff;margin-top: 10px;font-style: italic;font-family:Comic Sans Ms";><span style="color:red">"{{nombreExerciceZeroConnaissance}}"</span> n'a aucun connaissance [ Les exercices ]</a>
            
            <a href="Ajoutconnaissance" class="btn btn btn-block" style="background: #ffffff;margin-top: 10px;font-style: italic;font-family:Comic Sans Ms";>Ajouter Une Connaissance</a>
            <a href="/consultConnaissance" class="btn btn btn-block" style="background: #ffffff;margin-top: 10px;font-style: italic;font-family:Comic Sans Ms";><span style="color:red">"{{nombreConnaissanceFalseUser}}"</span>  connaissances n'est pas valider</a>
            <a href="consultAllConnaissance" class="btn btn btn-block" style="background: #ffffff;margin-top: 10px;font-style: italic;font-family:Comic Sans Ms";>tous connaissances</a>
            <a href="/listerEns" class="btn btn btn-block" style="background: #ffffff;margin-top: 10px;font-style: italic;font-family:Comic Sans Ms";>Les Enseignants</a>
           	<a href="/listEtudiant" class="btn btn btn-block" style="background: #ffffff;margin-top: 10px;font-style: italic;font-family:Comic Sans Ms";>Les Etudiants</a>
            
            </div>
           
         </div>   

        </div>  
        </div>
    </body>
    {{>common/footer}}
</html>

